{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {{ include('inc/carousel.html.twig') }}

    <!--  Blog Wrapper Start  -->

    <div class="blog-wrapper section-padding-100 clearfix">
        <div class="container">
            <div class="row align-items-end">
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-area clearfix mb-100">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <h4><a href="#" class="post-headline">Welcome to this Interior Design blog</a></h4>
                            <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt. Morbi sodales, dolor id ultricies dictum</p>
                            <a href="#" class="btn original-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-100">
                        <img src="{{ asset('assets/img/blog-img/01.jpg') }}" alt="">
                        <!-- Catagory Title -->
                        <div class="catagory-title">
                            <a href="#">interior Design Posts</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-100">
                        <img src="{{ asset('assets/img/blog-img/02.jpg') }}" alt="">
                        <!-- Catagory Title -->
                        <div class="catagory-title">
                            <a href="#">Latest posts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">

                    <!-- Single Blog Area  -->
                    {% for post in posts [:2] %}
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="single-blog-thumbnail">
                                    <img src="{{ asset(post.banner) }}" alt="">
                                    <div class="post-date">
                                        <a href="#">19<span>March</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">{{ post.category }}</a>
                                    <h4><a href="#" class="post-headline">{{ post.title }}</a></h4>
                                    <p>{{ post.content }}</p>
                                    <div class="post-meta">
                                        <p>By <a href="#">{{ post.author }}</a></p>
                                        <p>15 comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
{#                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">#}
{#                        <div class="row align-items-center">#}
{#                            <div class="col-12 col-md-6">#}
{#                                <div class="single-blog-thumbnail">#}
{#                                    <img src="{{ asset('assets/img/blog-img/03.jpg') }}" alt="">#}
{#                                    <div class="post-date">#}
{#                                        <a href="#">19 <span>Mar</span></a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-12 col-md-6">#}
{#                                <!-- Blog Content -->#}
{#                                <div class="single-blog-content">#}
{#                                    <div class="line"></div>#}
{#                                    <a href="#" class="post-tag">Design</a>#}
{#                                    <h4><a href="#" class="post-headline">Title Blog</a></h4>#}
{#                                    <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>#}
{#                                    <div class="post-meta">#}
{#                                        <p>By <a href="#">LP</a></p>#}
{#                                        <p>15 comments</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

                    <!-- Single Blog Area  -->
{#                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1000ms">#}
{#                        <div class="row align-items-center">#}
{#                            <div class="col-12 col-md-6">#}
{#                                <div class="single-blog-thumbnail">#}
{#                                    <img src="{{ asset('assets/img/blog-img/04.jpg') }}" alt="">#}
{#                                    <div class="post-date">#}
{#                                        <a href="#">15 <span>Mar</span></a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-12 col-md-6">#}
{#                                <!-- Blog Content -->#}
{#                                <div class="single-blog-content">#}
{#                                    <div class="line"></div>#}
{#                                    <a href="#" class="post-tag">Travel</a>#}
{#                                    <h4><a href="#" class="post-headline">Title Blog</a></h4>#}
{#                                    <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>#}
{#                                    <div class="post-meta">#}
{#                                        <p>By <a href="#">LP</a></p>#}
{#                                        <p>3 comments</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1000ms">
                        <div class="row">
                            <div class="col-12">
                                <div class="single-blog-thumbnail">
                                    <img src="{{ asset('assets/img/blog-img/07.jpg') }}" alt="">
                                    <div class="post-date">
                                        <a href="#">20 <span>Feb</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <!-- Blog Content -->
                                <div class="single-blog-content mt-50">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">Travel</a>
                                    <h4><a href="#" class="post-headline">Blog Title</a></h4>
                                    <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>
                                    <div class="post-meta">
                                        <p>By <a href="#">LP</a></p>
                                        <p>20 comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="single-blog-thumbnail">
                                    <img src="{{ asset('assets/img/blog-img/05.jpg') }}" alt="">
                                    <div class="post-date">
                                        <a href="#">12 <span>Jan</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">Design</a>
                                    <h4><a href="#" class="post-headline">Title Blog</a></h4>
                                    <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>
                                    <div class="post-meta">
                                        <p>By <a href="#">LP</a></p>
                                        <p>10 comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="single-blog-thumbnail">
                                    <img src="{{ asset('assets/img/blog-img/06.jpg') }}" alt="">
                                    <div class="post-date">
                                        <a href="#">10 <span>Jan</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">Inspiration</a>
                                    <h4><a href="#" class="post-headline">Title Post</a></h4>
                                    <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>
                                    <div class="post-meta">
                                        <p>By <a href="#">LP</a></p>
                                        <p>10 comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Load More -->
                    <div class="load-more-btn mt-100 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1000ms">
                        <a href="#" class="btn original-btn">Read More</a>
                    </div>
                </div>

                {{ include('inc/sidebar.html.twig') }}

            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper End ##### -->






{% endblock %}