{% extends 'base2.html.twig' %}

{% block title %}FIRST PROJECT{% endblock %}

{% block body %}

    <div class="site-section"  data-aos="fade">
        <div class="container-fluid">

            <div class="row justify-content-center">

                <div class="col-md-7">
                    <div class="row mb-5">
                        <div class="col-12 ">
                            <h2 class="site-section-heading text-center">First Project</h2>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" id="lightgallery" >

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/01.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/01.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/02.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/02.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/03.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/03.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/04.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/04.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/05.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/05.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/06.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/06.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/07.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/07.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/08.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/08.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/09.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/09.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/10.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/10.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/11.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/11.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/12.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/12.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/13.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/13.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/14.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/14.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/15.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/15.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/16.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/16.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/17.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/17.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/18.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/18.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/19.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/19.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/20.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/20.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/21.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/21.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/22.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/22.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/23.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/23.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/24.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/24.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/25.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/25.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/26.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/26.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/27.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/27.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/28.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/28.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ asset('assets/img/portfolio-img/first-project/29.jpg') }}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <a href="#"><img src="{{ asset('assets/img/portfolio-img/first-project/29.jpg') }}" alt="IMage" class="fit-image" style="" ></a>
                </div>


{#                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="images/big-images/nature_big_8.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel eveniet sequi assumenda deserunt ab, tempora commodi autem debitis iusto sed.</p>">#}
{#                    <a href="#"><img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="IMage" class="img-fluid"></a>#}
{#                </div>#}
{#                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="images/big-images/nature_big_7.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, quasi, pariatur. Minima provident repellat cum, impedit, nemo exercitationem distinctio consequuntur.</p>">#}
{#                    <a href="#"><img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="IMage" class="img-fluid"></a>#}
{#                </div>#}
{#                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="images/big-images/nature_big_6.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nostrum expedita consequatur rerum laboriosam tempore nisi autem animi eveniet perspiciatis.</p>">#}
{#                    <a href="#"><img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="IMage" class="img-fluid"></a>#}
{#                </div>#}
{#                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="images/big-images/nature_big_5.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque consectetur error deserunt facilis facere, consequatur at officia quae culpa voluptatibus!</p>">#}
{#                    <a href="#"><img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="IMage" class="img-fluid"></a>#}
{#                </div>#}
{#                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="images/big-images/nature_big_4.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti minima porro, hic dolores. Ab, doloremque facilis numquam, ipsa repellendus voluptas.</p>">#}
{#                    <a href="#"><img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="IMage" class="img-fluid"></a>#}
{#                </div>#}

{#                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="images/big-images/nature_big_3.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, dolor alias. Dignissimos hic voluptatibus dolorum expedita recusandae, consequatur distinctio est.</p>">#}
{#                    <a href="#"><img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="IMage" class="img-fluid"></a>#}
{#                </div>#}
{#                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="images/big-images/nature_big_2.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum similique, dolore esse quaerat incidunt ullam sit neque laboriosam velit quas.</p>">#}
{#                    <a href="#"><img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="IMage" class="img-fluid"></a>#}
{#                </div>#}
{#                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="images/big-images/nature_big_1.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem tempora deleniti, consectetur quisquam labore vitae quod quae debitis hic ab!</p>">#}
{#                    <a href="#"><img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="IMage" class="img-fluid"></a>#}
{#                </div>#}

            </div>
        </div>
    </div>

{% endblock %}