{% extends'base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}

{% block body %}
    <h2>All Posts from category {{category.name}}</h2>
    <!-- Single Blog Area  -->
    {% for post in posts |reverse %}
        <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="single-blog-thumbnail">
                        <img src="{{ vich_uploader_asset(post, 'thumbnailFile') }}" alt="">
                        <div class="post-date">
                            <a href="#">{{post.createdAt|date('d')}}<span>{{post.createdAt|date('F')[:3]}}</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <a href="#" class="post-tag">{{ post.category }}</a>
                        <h4><a href="/post/{{post.id}}" class="post-headline">{{ post.title }}</a></h4>
                        <p>{{ post.content[:250] |raw  }}...</p>
                        <div class="post-meta">
                            <p>By <a href="#">{{ post.author }}</a></p>
                            <p>15 comments</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}