<!-- Grid Area -->
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url('assets/img/bg-img/carousel02.jpg');>
        <div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="breadcumb-content text-center">
                <h2>OUR PORTFOLIO</h2>
            </div>
        </div>
    </div>
</div>

<!-- ##### Breadcumb Area End ##### -->
<div class="portfolio-container section-padding-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="portfolio-thumbnail">
                    <a class="popup-img" href="{{ asset('assets/img/blog-img/blog01.jpg') }}" title="First Project">
                        <img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="img">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="portfolio-thumbnail">
                    <a class="popup-img" href="{{ asset('assets/img/blog-img/blog01.jpg') }}">
                        <img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="img">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="portfolio-thumbnail">
                    <a class="popup-img" href="{{ asset('assets/img/blog-img/blog01.jpg') }}">
                        <img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="img">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="portfolio-thumbnail">
                    <a class="popup-img" href="{{ asset('assets/img/blog-img/blog01.jpg') }}">
                        <img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="img">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="portfolio-thumbnail">
                    <a class="popup-img" href="{{ asset('assets/img/blog-img/blog01.jpg') }}">
                        <img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="img">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="portfolio-thumbnail">
                    <a class="popup-img" href="{{ asset('assets/img/blog-img/blog01.jpg') }}">
                        <img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Grid End -->