
<!-- ##### Breadcumb Area Start ##### -->
<div class="container-fluid">
    <div class="breadcumb-area bg-img" style="background-image: url('assets/img/bg-img/carousel02.jpg');>
            <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content text-center">
                    <h2>OUR PORTFOLIO</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ##### Breadcumb Area End ##### -->


<!-- Grid Area -->
<div class="section-padding-50">
    <div class="container-fluid">
        <div class="row col-12 com-md-4">
            <div class="col-sm-4">
                <div style="margin-bottom: 10px">
                    <a href="#" >
                    <img src="{{ asset('assets/img/portfolio-img/portfolio-home/01.jpg') }}" alt="">
                    </a>
                </div>
            </div>
            <div cl
            <div class="col-sm-4">
                <div style="margin-bottom: 10px">
                    <a class="popup-img" href="{{ asset('assets/img/blog-img/blog01.jpg') }}">
                        <img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="img">
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div style="margin-bottom: 10px">
                    <a class="popup-img" href="{{ asset('assets/img/blog-img/blog01.jpg') }}">
                        <img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="img">
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div style="margin-bottom: 10px">
                    <a class="popup-img" href="{{ asset('assets/img/blog-img/blog01.jpg') }}">
                        <img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="img">
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div style="margin-bottom: 10px">
                    <a class="popup-img" href="{{ asset('assets/img/blog-img/blog01.jpg') }}">
                        <img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="img">
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div style="margin-bottom: 10px">
                    <a class="popup-img" href="{{ asset('assets/img/blog-img/blog01.jpg') }}">
                        <img src="{{ asset('assets/img/blog-img/blog01.jpg') }}" alt="img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#lightgallery').lightGallery();
    });
</script>


<!-- Grid End -->



{#<div class="site-wrap">#}


{#    <div class="container-fluid" data-aos="fade" data-aos-delay="500">#}
{#        <div class="swiper-container images-carousel">#}
{#            <div class="swiper-wrapper">#}
{#                <div class="swiper-slide">#}
{#                    <div class="image-wrap">#}
{#                        <div class="image-info">#}
{#                            <h2 class="mb-3">Nature</h2>#}
{#                            <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>#}
{#                        </div>#}
{#                        <img src="images/img_1.jpg" alt="Image">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="swiper-slide">#}
{#                    <div class="image-wrap">#}
{#                        <div class="image-info">#}
{#                            <h2 class="mb-3">Portrait</h2>#}
{#                            <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>#}
{#                        </div>#}
{#                        <img src="images/img_2.jpg" alt="Image">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="swiper-slide">#}
{#                    <div class="image-wrap">#}
{#                        <div class="image-info">#}
{#                            <h2 class="mb-3">People</h2>#}
{#                            <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>#}
{#                        </div>#}
{#                        <img src="images/img_3.jpg" alt="Image">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="swiper-slide">#}
{#                    <div class="image-wrap">#}
{#                        <div class="image-info">#}
{#                            <h2 class="mb-3">Architecture</h2>#}
{#                            <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>#}
{#                        </div>#}
{#                        <img src="images/img_4.jpg" alt="Image">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="swiper-slide">#}
{#                    <div class="image-wrap">#}
{#                        <div class="image-info">#}
{#                            <h2 class="mb-3">Animals</h2>#}
{#                            <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>#}
{#                        </div>#}
{#                        <img src="images/img_5.jpg" alt="Image">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="swiper-slide">#}
{#                    <div class="image-wrap">#}
{#                        <div class="image-info">#}
{#                            <h2 class="mb-3">Sports</h2>#}
{#                            <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>#}
{#                        </div>#}
{#                        <img src="images/img_6.jpg" alt="Image">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="swiper-slide">#}
{#                    <div class="image-wrap">#}
{#                        <div class="image-info">#}
{#                            <h2 class="mb-3">Travel</h2>#}
{#                            <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>#}
{#                        </div>#}
{#                        <img src="images/img_7.jpg" alt="Image">#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#            <div class="swiper-pagination"></div>#}
{#            <div class="swiper-button-prev"></div>#}
{#            <div class="swiper-button-next"></div>#}
{#            <div class="swiper-scrollbar"></div>#}
{#        </div>#}
{#    </div>#}







{#</div>#}


{#<script>#}
{#    $(document).ready(function(){#}
{#        $('#lightgallery').lightGallery();#}
{#    });#}
{#</script>#}
{#<div class="lg-backdrop in" style="transition-duration: 150ms;"></div>#}
{#<div class="lg-outer lg-start-zoom lg-use-css3 lg-css3 lg-slide lg-show-after-load lg-pull-caption-up lg-has-thumb lg-can-toggle lg-use-transition-for-zoom lg-visible lg-thumb-open lg-grab"><div class="lg" style="width:100%; height:100%"><div class="lg-inner" style="transition-timing-function: ease; transition-duration: 600ms;"><div class="lg-item lg-loaded lg-complete lg-zoomable lg-next-slide lg-current"><div class="lg-img-wrap"><img class="lg-object lg-image" src="/assets/img/portfolio-img/first-project/01.jpg"></div></div><div class="lg-item lg-loaded lg-complete lg-zoomable"><div class="lg-img-wrap"><img class="lg-object lg-image" src="/assets/img/portfolio-img/first-project/02.jpg"></div></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item"></div><div class="lg-item lg-loaded lg-complete lg-zoomable"><div class="lg-img-wrap"><img class="lg-object lg-image" src="images/big-images/nature_big_2.jpg"></div></div><div class="lg-item lg-loaded lg-complete lg-zoomable lg-prev-slide"><div class="lg-img-wrap"><img class="lg-object lg-image" src="images/big-images/nature_big_1.jpg"></div></div></div><div class="lg-toolbar lg-group"><span class="lg-close lg-icon"></span><a id="lg-download" target="_blank" download="" class="lg-download lg-icon" href="/assets/img/portfolio-img/first-project/01.jpg"></a><span class="lg-autoplay-button lg-icon"></span><span class="lg-fullscreen lg-icon"></span><span id="lg-zoom-in" class="lg-icon"></span><span id="lg-zoom-out" class="lg-icon"></span><span id="lg-actual-size" class="lg-icon"></span><span id="lg-share" class="lg-icon"><ul class="lg-dropdown" style="position: absolute;"><li><a id="lg-share-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%2Fportfolio%2Ffirst-project%23lg%3D1%26slide%3D0"><span class="lg-icon"></span><span class="lg-dropdown-text">Facebook</span></a></li><li><a id="lg-share-twitter" target="_blank" href="https://twitter.com/intent/tweet?text=undefined&amp;url=http%3A%2F%2Flocalhost%2Fportfolio%2Ffirst-project%23lg%3D1%26slide%3D0"><span class="lg-icon"></span><span class="lg-dropdown-text">Twitter</span></a></li><li><a id="lg-share-googleplus" target="_blank" href="https://plus.google.com/share?url=http%3A%2F%2Flocalhost%2Fportfolio%2Ffirst-project%23lg%3D1%26slide%3D0"><span class="lg-icon"></span><span class="lg-dropdown-text">GooglePlus</span></a></li><li><a id="lg-share-pinterest" target="_blank" href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Flocalhost%2Fportfolio%2Ffirst-project%23lg%3D1%26slide%3D0&amp;media=%2Fassets%2Fimg%2Fportfolio-img%2Ffirst-project%2F01.jpg&amp;description=undefined"><span class="lg-icon"></span><span class="lg-dropdown-text">Pinterest</span></a></li></ul></span><div id="lg-counter"><span id="lg-counter-current">1</span> / <span id="lg-counter-all">36</span></div></div><div class="lg-actions"><button class="lg-prev lg-icon"></button><button class="lg-next lg-icon"></button></div><div class="lg-sub-html"><h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p></div><div class="lg-progress-bar"><div class="lg-progress"></div></div><div class="lg-thumb-outer lg-grab" style="height: 100px;"><div class="lg-thumb lg-group" style="width: 3780px; position: relative; transform: translate3d(0px, 0px, 0px); transition-duration: 600ms;"><div data-vimeo-id="" class="lg-thumb-item active" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/portfolio-img/first-project/01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/portfolio-img/first-project/02.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/portfolio-img/first-project/03.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/portfolio-img/first-project/04.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/portfolio-img/first-project/05.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/portfolio-img/first-project/06.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div><div data-vimeo-id="" class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 5px"><img src="/assets/img/blog-img/blog01.jpg"></div></div><span class="lg-toogle-thumb lg-icon"></span></div><div id="lg-dropdown-overlay"></div></div></div>#}