<!--  Sidebar Area  -->
<div class="col-12 col-md-4 col-lg-3">
    <div class="post-sidebar-area">

        <!-- Widget Area -->
        <div class="sidebar-widget-area">
            <form action="#" class="search-form">
                <input type="search" name="search" id="searchForm" placeholder="Search">
                <input type="submit" value="submit">
            </form>
        </div>

        <!-- Widget Area -->
        <div class="sidebar-widget-area">
            <h5 class="title subscribe-title">Subscribe to my newsletter</h5>
            <div class="widget-content">
                <form action="{{ path('news_letter') }}" method="post" class="newsletterForm">
                    <input type="email" name="email" id="subscribesForm" placeholder="Your e-mail here">
                    <button type="submit" class="btn original-btn">Subscribe</button>
                </form>
            </div>
        </div>

        <!-- Widget Area -->
        <div class="sidebar-widget-area">
            <h5 class="title">Advertisement</h5>
            <!-- Insert your gift here -->
            <a href="#"><img src="{{ asset('assets/img/bg-img/tenor.gif') }}" alt=""></a>
        </div>

        <!-- Widget Area -->
        <div class="sidebar-widget-area">
            <h5 class="title">Latest Posts</h5>

            <div class="widget-content">
                {% for post in posts[:4]|reverse %}
                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex align-items-center widget-post">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <a href="/post/{{post.id}}">
                            <img src="{{ vich_uploader_asset(post, 'thumbnailFile') }}" alt="Image">
                        </a>
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="/post/{{post.id}}" class="post-tag">{{ post.category }}</a>
                        <h4><a href="/post/{{post.id}}" class="post-headline">{{ post.title }}</a></h4>
                        <div class="post-meta">
                            <p><a href="/post/{{post.id}}">{{post.createdAt|date('d')}}{{post.createdAt|date('F')[:3]}}</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

        <!-- Widget Area -->
        <div class="sidebar-widget-area">
            <h5 class="title">Tags</h5>
            <div class="widget-content">
                <ul class="tags">
                    {% for category in categories %}
                    <li><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>