<!--  Sidebar Area  -->
<div class="col-12 col-md-4 col-lg-3">
    <div class="post-sidebar-area">

        <!-- Widget Area -->
        <div class="sidebar-widget-area">
            <form action="#" class="search-form">
                <input type="search" name="search" id="searchForm" placeholder="Search">
                <input type="submit" value="submit">
            </form>
        </div>

        <!-- Widget Area -->
        <div class="sidebar-widget-area">
            <h5 class="title subscribe-title">Subscribe to my newsletter</h5>
            <div class="widget-content">
                <form action="{{ path('news_letter') }}" method="post" class="newsletterForm">
                    <input type="email" name="email" id="subscribesForm" placeholder="Your e-mail here">
                    <button type="submit" class="btn original-btn">Subscribe</button>
                </form>
            </div>
        </div>

        <!-- Widget Area -->
        <div class="sidebar-widget-area">
            <h5 class="title">Advertisement</h5>
            <!-- Insert your gift here -->
            <a href="#"><img src="{{ asset('assets/img/bg-img/tenor.gif') }}" alt=""></a>
        </div>

        <!-- Widget Area -->
        <div class="sidebar-widget-area">
            <h5 class="title">Latest Posts</h5>

            <div class="widget-content">

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex align-items-center widget-post">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="{{ asset('assets/img/blog-img/sb1.jpg') }}" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="#" class="post-tag">Design</a>
                        <h4><a href="#" class="post-headline">Blog Title</a></h4>
                        <div class="post-meta">
                            <p><a href="#">30 Aug</a></p>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex align-items-center widget-post">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="{{ asset('assets/img/blog-img/sb2.jpg') }}" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="#" class="post-tag">Design</a>
                        <h4><a href="#" class="post-headline">Blog Title</a></h4>
                        <div class="post-meta">
                            <p><a href="#">30 Aug</a></p>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex align-items-center widget-post">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="{{ asset('assets/img/blog-img/sb3.jpg') }}" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="#" class="post-tag">Design</a>
                        <h4><a href="#" class="post-headline">Blog Title</a></h4>
                        <div class="post-meta">
                            <p><a href="#">30 Aug</a></p>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex align-items-center widget-post">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="{{ asset('assets/img/blog-img/sb4.jpg') }}" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="#" class="post-tag">Design</a>
                        <h4><a href="#" class="post-headline">Blog Title</a></h4>
                        <div class="post-meta">
                            <p><a href="#">30 Aug</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Widget Area -->
        <div class="sidebar-widget-area">
            <h5 class="title">Tags</h5>
            <div class="widget-content">
                <ul class="tags">
                    <li><a href="#">design</a></li>
                    <li><a href="#">living-groom</a></li>
                    <li><a href="#">travel</a></li>
                    <li><a href="#">kitchen</a></li>
                    <li><a href="#">inspiration</a></li>
                    <li><a href="#">photography</a></li>
                    <li><a href="#">adventure</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>